.background-curriculum {
  background-image: url('../../../public/images/home_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.curriculum-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.curriculum-card {
  background-color: rgba(24, 24, 24, 0.5);
  padding: 30px;
  padding-bottom: 35px;
  border-radius: 10px;
  text-align: center;
  margin: 50px;
  cursor: pointer;
  min-width: 420px;
}

.curriculum-title {
  margin-top: 20px;
  color: #fff;
}

.curriculum-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .background-curriculum {
    min-height: calc(100vh - 80px);
    height: fit-content !important;
  }

  .curriculum-container {
    display: contents;
  }

  .curriculum-card {
    margin: 10px;
    min-width: 50px;
  }
}
