.background-home {
  background-image: url('../../../public/images/home_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 30px;
}

.profile-card {
  background-color: rgba(24, 24, 24, 0.5);
  padding: 20px 10px;
  border-radius: 10px;
  text-align: center;
  margin-top: 50px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-name {
  margin-top: 20px;
  color: #fff;
}

.profile-description {
  margin-top: 20px;
  max-width: 600px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

@media screen and (max-width: 960px) {
  .background-home {
    min-height: calc(100vh - 80px);
    height: fit-content !important;
  }

  .profile-card {
    margin-top: 10px;
  }

  .profile-name {
    margin-top: 10px;
  }
  
  .profile-description {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
